@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()        
       // <li>@*@Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })*@</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Fazer logoff</a></li>    
    }
}
else
{
        <li class="nav-item">@Html.ActionLink("Registre-se", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "registerLink" })</li>
        <li class="nav-item">
            @Html.ActionLink("Logon", "Login", "Account",routeValues: null, htmlAttributes: new { @class = "nav-link", id = "loginLink"})
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </li>    
}
